#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pagination{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-container{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.product-card{
  width: 200px;
  height: 200px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card img{
  width: 100px;
  height: 100px;
}